input[type=date].form-control,
input[type=time].form-control,
input[type=datetime-local].form-control,
input[type=month].form-control {
    line-height: 34px
}
.input-group-sm input[type=date],
.input-group-sm input[type=time],
.input-group-sm input[type=datetime-local],
.input-group-sm input[type=month],
input[type=date].input-sm,
input[type=time].input-sm,
input[type=datetime-local].input-sm,
input[type=month].input-sm {
    line-height: 30px
}
.input-group-lg input[type=date],
.input-group-lg input[type=time],
.input-group-lg input[type=datetime-local],
.input-group-lg input[type=month],
input[type=date].input-lg,
input[type=time].input-lg,
input[type=datetime-local].input-lg,
input[type=month].input-lg {
    line-height: 46px
}

/*datepicker css*/
.datepicker{cursor: pointer;}
.form-control.hasDatepicker{
    background: transparent;
    border: 0px solid transparent;
    font-weight: 500;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;cursor: pointer;
    letter-spacing: normal;
    color: black !important;opacity: 0.8;
}
.show-date.mt-4 .input-group-btn .btn{
    padding: 0px;
}

.ui-state-default.ui-state-highlight.ui-state-active , .ui-state-default.ui-state-hover,
a.ui-state-default.ui-state-active
{
    /*padding-top: 6px !important;*/
    height: 22px;
    width: 22px;
    border-radius: 100% !important;
    background: #ef4337 !important;
    border: none !important;
    color: white !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: white !important;
    font-weight: normal;
    color: #555555;
    text-align: center;
    height: 22px;
    font-size: 12px !important;
    /* opacity: 0.8 !important; */
    font-family: Inter !important;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    width: 22px;
    text-align: center;
    padding-top: 0px;
    font-weight: normal;
    border-radius: 100% !important;
    padding: 2px;
    border: none !important;
}
.state-active, .ui-state-default.ui-state-hover {
    height: 22px;
    width: 22px;
    font-size: 12px !important;
    /* opacity: 0.8; */
    font-family: Inter !important;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    /*padding: 2.2px !important;*/
    border-radius: 100% !important;
    background: #ef4337 !important;
    border: none !important;
    color: white !important;
}
.ui-datepicker .ui-datepicker-title {
    font-weight: 500;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.25 !important;
    letter-spacing: normal;
}
.ui-datepicker-calendar th span
{
    font-size: 12px;
    font-weight: 500;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{
    position: absolute;
    top: 4px;

}
.ui-state-default , .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight
{
    font-size: 12px !important;
}
a.ui-state-default.ui-state-highlight.ui-state-active{
    background: #ef4337 !important;
    color: white;
    /*padding: 2px 1px 0px 0;*/
    padding: 2px;
    font-family: inter;
}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
    top: 2px !important;
}
.ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, 
.ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
{
    background: #d43845 !important;
    border: none !important;
    color: white !important;
    text-align: center;
    font-weight: normal;
    height: 22px !important;
    width: 22px !important;
}
.ui-datepicker td {
    border: 0;
    padding: 3px !important;
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
    background: no-repeat;
    border: none;
}

.ui-widget-header .ui-datepicker-next .ui-icon{
    background-image: url(../images/d2.svg) !important;
    background-position: 3px 3px !important;
}

.ui-widget-header .ui-datepicker-prev .ui-icon{
    background-image: url(../images/d1.svg) !important;
    background-position: 3px 3px !important;
}

.ui-datepicker-next .ui-corner-all , ui-datepicker-prev .ui-corner-all
{
   background: white !important;
}
.ui-widget-content {
    border: 1px solid #fff !important;
    background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
    color: #222222;
}
.ui-state-highlight{
    border: 1px solid #ef4337;
    background: #ef4337;
    color: white;
}
.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: 600;
    font-family: Inter;
    font-size: 12px !important;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    /*line-height: 1;*/
    letter-spacing: normal;
    color: #94979b;
    border: 0;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 22px !important;
    background: #fdedeb !important;
    border-radius: 50%;
    outline: none;
    height: 22px !important;
}
.ui-helper-clearfix:before, .ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
    margin-top: 8px !important;
}
.ui-datepicker .ui-datepicker-prev {
    left: 3px !important;
}
.ui-datepicker .ui-datepicker-next {
    right: 3px !important;
}
#ui-datepicker-div{
    z-index: 99999 !important;
    position: absolute;
    top: 465.344px;
    left: 123.063px;
    z-index: 1;
    /*width: 216px;*/
    /*height: 227px;*/
    border-radius: 6px;
    box-shadow: 0 6px 16px 0 rgba(26, 24, 30, 0.1);
    background-color: #ffffff;
    /*display: block;*/
}
.ui-timepicker-container.ui-timepicker-standard .ui-corner-all.ui-state-hover{
    background: whitesmoke !important; 
     border: 1px solid whitesmoke !important; 
     color: black !important; 
     text-align: center; 
     font-weight: normal; 
     height: 35px !important; 
    width: 100% !important;
}

#date:focus{border: none;}